.nav-header{
    width: 1120px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-left: 245px;
    padding-top: 40px;
    margin-bottom: 40px;
}
.menu-nav{
    display: flex;
    width: 470px;
    justify-content: space-between;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;

}
a{
    text-decoration: none;
    color:black;
    text-transform: uppercase;
}
.logo::first-letter{
    font-weight: bolder;
    color: #1abc9c;
}
.logo{
    font-family:'Roboto', sans-serif ;
    font-weight:300;
    color: #555252;
   font-size: 30px;
}
.menu-nav a:hover{
    color: #1abc9c;
}
