@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:300,400|Roboto:400,700,900');
@import url(header.css);
@import url(section.css);
@import url(footer.css);
*{
    margin: 0;
    padding: 0;
}
a{
  
    text-decoration: none;
        color: #9ce3d6;
   
}