.footer{
    width: 375px;
    height: 307px;
    object-fit: contain;
    background-image: url(../img/Rectangle.png)
}
.footer_btn{
    width: 181.8px;
    height: 50px;
    border-radius: 3px;
    margin: auto;
    background: transparent;
  border: 1px solid #ffffff;
  margin-left: 5.3rem;
  margin-top: 2rem;
  font-family: NotoSans;
  font-size: 14px;
  font-weight: normal;
  color: #ffffff;
}
.footer_social{
    display: flex;
    justify-content: space-between;
    width: 112px;
    margin-top: 1rem;
    margin-left: 5.3rem;
}
.footer_img{
width: 20px;
height: 20px;
}
.footer_menu{
    display: flex;
    flex-direction: column;
    width: 112px;
    margin-top: 1rem;
    margin-left: 5.3rem;

}
.footer_ancor{  font-family: NotoSans;
    font-size: 14px;
    line-height: 1.41;
    color: #ffffff;
}
.footer_ftr{
    width: 104px;
    height: 23px;
    opacity: 0.5;
    font-family: NotoSans;
    font-size: 14px;
    line-height: 1.41;
    letter-spacing: normal;
    color: #000000;
    margin: auto;
    margin-top: 4rem;
}
