@import url(header.css);
@import url(main.css);
@import url(dopSt.css);
@import url(footer.css);
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700&subset=cyrillic');
*{
    margin: 0;
    padding: 0;
    
}
.bck{
    background-image: linear-gradient( #a6cae4, rgba(196, 196, 196, 0));
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}